# Virtual environment
llm_probe/
venv/
.venv/
Env/

# Python cache and temporary files
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.ipynb_checkpoints/

# Data and results files (regeneratable and potentially copyrighted)
data/memorization/raw/
data/memorization/labeled/
data/hallucination/raw/
data/hallucination/labeled/
results/*/*.pkl
results/*/*.joblib
